span {
        margin-left: 20px;
    }

    textarea, input {
        margin-left: 40px;
        
        float: left;
    }

    input[type="text"], 
    input[type="button"], 
    textarea,
    button {
        width: 94%;
        
    }

    input[type="file"] {
      max-width: 30vw;
    }

    input[type="text"].input-invalid, 
    textarea.input-invalid{
        animation-name: pulseBorderWidth;
          animation-duration: 2.5s;
          animation-iteration-count: infinite;
    }

    small.invalid {
      color: red;
      -webkit-animation-name: pulseTextColor; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
      
    }

    small {
        float: right;
    }

    @keyframes pulseTextColor {
      from {
        border-color: #d1d1d1;
        }
      to {
        border-color: red;
        }
    }

    @keyframes pulseBorderWidth {
      from {
        border: 2px solid #d1d1d1;
        }
      to {
        border: 2px solid red;
        }
    }

.spinner {
  width: 90px;
  height: 90px;
  margin: 100px auto;
  background-color: #333;
  background-image: url('/static/img/mic-lg.png');
  background-size: contain;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.cls-1 {
  fill: none;
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

svg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  display: block;
}
svg .cls-1 {
  stroke: green;
}

.circle {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
}

.checkmark {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
}

.run-animation .circle {
  -webkit-animation: 2.5s circleDraw forwards;
          animation: 2.5s circleDraw forwards;
}
.run-animation .checkmark {
  -webkit-animation: 0.75s checkmarkDraw forwards;
          animation: 0.75s checkmarkDraw forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes circleDraw {
  from {
    stroke-dashoffset: 700;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes circleDraw {
  from {
    stroke-dashoffset: 700;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes checkmarkDraw {
  from {
    stroke-dashoffset: 150;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes checkmarkDraw {
  from {
    stroke-dashoffset: 150;
  }
  to {
    stroke-dashoffset: 0;
  }
}
