{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="row">
                <div class="column" style="height: 1.5vh">
                    &nbsp;
                </div>
            </div>    


  <div class="row">
    <div class="column column-20"></div>
    
    <div class="column">
        



        <div id="form-wrapper">
            <div class="row">

            </div>

            <div id="uploading-wrapper">
                <div class="row">
                    <div class="column column-100" style="height: 5vh">
                        <div class="row">
                            <div class="column" style="height: 25vh">
                                &nbsp;
                            </div>
                        </div>    
                        <center>
                            <h1>Thank you</h1>
                            <h3>For your community contribution</h3>
                        </center>


                        <div class="row">
                            <div class="column" style="height: 10vh">
                                <svg id="checkmark-svg" class="run-animation" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 193.3 193.3"><circle class="cls-1 circle" cx="96.65" cy="96.65" r="94.15"/><polyline class="cls-1 checkmark" points="46.9 101.4 76.9 131.4 146.4 61.9"/></svg>
                            </div>
                        </div>    

                        <div class="row">
                            <div class="column" style="height: 10vh">
                            </div>
                        </div>    
                        

                    </div>
                </div>    
            </div>

        </div>
    </div>
    <div class="column column-20"></div>
  </div>
</div> <br/> 


<script type="text/javascript">
    
</script>
{% endblock %}