{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="row">
                <div class="column" style="height: 1.5vh">
                    &nbsp;
                </div>
            </div>    


  <div class="row">
    <div class="column column-20"></div>
    
    <div class="column">
        



        <div id="form-wrapper">
            <div class="row">
                <div class="column column-20">
                    <img src="{{ url_for('static', filename='img/mic-lg.png') }}" />
                </div>
                <div class="column column-80">
                    <h1 style="text-align: center">Mississipi Mills <br/> Podcast Uploader</h1>
                </div>
            </div>
                <div class="row">
                        <div class="column" style="height: 1.5vh">
                            &nbsp;
                        </div>
                    </div>    
                <form id="fileupload" method="post" action="/podcast" enctype="multipart/form-data">

                    <h2>About you</h2>
                    <div class="label">
                        <span>Your Name</span>
                        <small id="error-name">Min. 5 characters</small>
                    </div>
                    <input style="float: left" type="text" id="name" value="" name="name"><br>
                    <div class="row">
                        <div class="column">
                            &nbsp;
                        </div>
                    </div>        
                    <h2>About your podcast</h2>
                    <div>
                        <span>Title</span>
                        <small id="error-title">Min. 10 characters</small>
                    </div>
                    <input type="text" value="" id="title" name="title"><br>
                    <div>
                        <span>Summary</span>
                        <small id="error-summary">Min. 50 characters</small>
                    </div>
                    <textarea type="text" value="" name="summary" id="summary"></textarea><br>
                                        <div>
                        <span>Description</span>
                        <small id="error-description">Min. 50 characters</small>
                    </div>
                    <textarea type="text" value="" id="description" name="description"></textarea><br>
                    <div class="row">
                        <div class="column">
                            &nbsp;
                        </div>
                    </div>            
                    
                    <div>
                        <span>Audio File</span>
                        <small id="error-file">Max. upload 60MB</small>
                    </div>
                    <br>
                    <div>
                        <input type="file" name="audio_file"  class="default" id="file">
                    </div>
                
                    <div class="row">
                        <div class="column">
                            &nbsp;
                        </div>
                    </div>        

                    <input type="button" class="default button" style="height: 5em" value="Upload My Podcast" onclick="validate()" />
                </form>
            </div>

            <div id="uploading-wrapper" style="display: none">
                <div class="row">
                    <div class="column column-100" style="height: 5vh">
                        <div class="row">
                            <div class="column" style="height: 5vh">
                                &nbsp;
                            </div>
                        </div>    
                        <div class="spinner"></div>
                        <center><h1>Uploading your podcast</h1></center>
                    </div>
                </div>    
            </div>

        </div>

    <div class="column column-20"></div>
  </div>
</div> <br/> 


<script type="text/javascript">
    
</script>
{% endblock %}